/* common */

img {
 width: 100%;
}

p {
 font-size: 16px;
}

li {
 font-weight: bold;
}

body {
 background-color: #fff;
}

h2 {
 font-size: 20px;
 text-align: left;
 font-weight: bold;
 margin-top: 16px;
 margin-bottom: 16px;
 padding-left: 16%;
 color: #3b4780;
}

p {
 font-size: 16px;
}

button {
 text-align: center;
 padding-top: 16px;
 padding-bottom: 16px;
 width: 176px;
 color: #fff;
 border-radius: 60px;
 background-image: linear-gradient(90deg, rgba(141, 139, 226, 1) 50%, rgba(191, 161, 216, 1));
 font-weight: bold;

 transition: all 300ms;
}

button:hover {
 color: rgba(141, 139, 226, 1);
 background-image: linear-gradient(90deg, rgba(255, 255, 255, 1) 5% 41%);
 border: 4px solid rgba(141, 139, 226, 1);
 padding-top: 12px;
 padding-bottom: 12px;
}


/* header-top */

.header-box {
 background-color:  #fff;
 box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.35);
}

.header-top {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding-left: 8px;
 padding-right: 8px;
 padding-top: 8px;
}

.logo {
 width: 144px;
}

.icon {
 display: flex;
 gap: 24px;
}

.twitter {
 width: 48px;
}

.instagram {
 width: 48px;
}

/* header-bottom */
.header-bottom {
 padding-top: 32px;
 padding-bottom: 16px;
}

.list-box {
 display: flex;
 gap: 48px;
 justify-content: center;
 color: #69699b;
}


/* main */

.main-info {
 display: flex;
 justify-content: center;
}

.main-info-box {
 background-color: #dbdbdd;
 width: 880px;
 margin-top: 32px;
 margin-bottom: 32px;
 margin-right: 32px;
 margin-left: 32px;
 padding: 32px;
 border-radius: 12px;
 border: 2px rgb(222, 100, 100);
 display: flex;
 gap: 16px;
 justify-content: space-around;
}

.main-info-title {
 font-weight: bold;
 color: rgb(215, 77, 77);
}

.main-info-contents {
 display: flex;
 gap: 16px;
}

.sec-title {
 display: flex;
 align-items: baseline;
 gap: 32px;
}

.subtitle {
 font-weight: bold;
 color: #69699b;
}

.text {
 text-align: center;
 color: rgb(115, 117, 119);
 font-size: 14px;
}

.contents-container {
 display: flex;
 justify-content: center;
 gap: 56px;
}

.content {
 width: 200px;
}

.content-img {
 width: 200px;
 overflow: hidden;
 border-radius: 10px;
}

.content-text {
 margin-top: 8px;
 font-size: 16px;
 font-weight: bold;
}

.content-date {
 font-size: 14px;
}

.btn-box {
 display: flex;
 justify-content: center;
}







/* footer */

.footer-nav {
 display: flex;
 gap: 72px;
 padding-top: 24px;
 padding-bottom: 72px;
 justify-content: center;

}

.footer-list {
 font-weight: normal;
 font-size: 16px;
 color: #69699b;
}





.copyright {
 text-align: center;
 color:  #69699b;
 font-size: 14px;
}